<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pocket.gocooking.system.mapper.DishMapper">


<!--    <select id="selectAll" resultType="Dish">-->
<!--        select dish_id as dishId, name, time, difficulty from dish_table-->
<!--    </select>-->

    <select id="selectAll" resultMap="dishResultMap">
        select dish_id, name, time, difficulty from dish_table
        <where>
            <if test="name != null">
                name LIKE #{name}
            </if>
            <if test="difficulty != null">
            AND
                <foreach collection="difficulty" index="index" item="difficulty"
                         open="difficulty in (" separator="," close=")" nullable="true">
                    #{difficulty}
                </foreach>
            </if>
        </where>

    </select>

    <select id="getIngredientById" resultType="DishIngredientDTO">
        select  c.ingredient_name as name, d.category_name as category
        FROM dish_table a
        LEFT JOIN dish_ingredient_table b on b.dish_id = a.dish_id
        LEFT JOIN ingredient_table c on b.ingredient_id = c.ingredient_id
        LEFT JOIN ingredient_category_table d on d.ingredient_category_id = c.category_id
        WHERE a.dish_id = #{dish_id};
    </select>



    <resultMap id="dishResultMap" type="Dish">
        <id property="dishId" column="dish_id" />
        <result property="name" column="name"/>
        <result property="time" column="time"/>
        <result property="difficulty" column="difficulty"/>
    </resultMap>


</mapper>
