<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pocket.gocooking.system.mapper.IngredientMapper">

    <select id="selectByName" resultMap="ingResultMap">
        SELECT * FROM ingredient_table WHERE ingredient_name = #{name}
    </select>
    <resultMap id="ingResultMap" type="Ingredient">
        <id property="ingredientId" column="ingredient_id" />
        <result property="categoryId" column="category_id"/>
        <result property="ingredientName" column="ingredient_name"/>
    </resultMap>

    <insert id="insertIngredient" parameterType="Ingredient">
        insert into ingredient_table (ingredient_name, category_id) values (#{ingredientName}, #{categoryId})
        <selectKey keyProperty="ingredientId" order="AFTER" resultType="int" keyColumn="ingredient_id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


</mapper>
